@model lab_10.Models.ConsultationRegistrationModel

<h2>Реєстрація на консультацію</h2>

@using (Html.BeginForm("Register", "Consultation", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ConsultationDate)
        @Html.TextBoxFor(model => model.ConsultationDate, new { @class = "form-control", type = "date" })
        @Html.ValidationMessageFor(model => model.ConsultationDate, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SelectedProduct)
        @Html.DropDownListFor(model => model.SelectedProduct, new SelectList(new[] { "JavaScript", "C#", "Java", "Python", "Основи" }), new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.SelectedProduct, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Зареєструватися</button>
}
